[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
graphene = "*"
uuid = "*"
requests = "*"
base58 = "*"
web3 = "*"
pandas = "*"
flask = "*"
flask-web3 = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
